.data-label {
    font-size: 16px;
}

.data-display {
    font-size: 20px;
}

.img-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.bi {
    cursor: pointer;
}

.thumbnail {
    width: 70%;
}

.img-t {
    width: 50%;
}

.img-display {
    width: 100%;
}

.product-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding-top: 10%;
    padding-bottom: 10%;
}

.product-summary {}

.purchase {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 10%;
    padding-right: 10%;
}

.purchase input {
    font-size: 20px;
    padding: 8px 12px;
    text-align: left;
    border: 1px solid #868e96;
    border-radius: 5px;
}

.purchase div {
    display: flex;
    flex-direction: row;
    gap: 12px;
    align-items: center;
}

.purchase div label {
    font-size: 20px;
}